---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="icon" type="image/svg+xml" href="/frontend/favicon.svg" />
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
	</head>

  <body class="bg-gray constrain-width">
    <article class="page-structure bg-white">
      <h1 class="visually-hidden">About Ableton</h1>

      <!-- skip navigation link -->

      <nav class="main-menu | navbar | full-width row ui">
        <h2 class="visually-hidden">Main navigation</h2>

        <a href="#" class="logo">
          <svg viewBox="0 0 45 21">
            <path d="M0 0h3v21H0zm6 0h3v21H6zm6 0h3v21h-3zm6 0h3v21h-3zm6 18h21v3H24zm0-6h21v3H24zm0-6h21v3H24zm0-6h21v3H24z"/>
          </svg>
        </a>

        <button type="button" aria-owns="menu-drawer" aria-expanded="false">Menu</button>

        <div class="menu-drawer" id="menu-drawer">
          <a href="#">Live</a>
          <a href="#">Push</a>
          <a href="#">Note</a>
          <a href="#">Link</a>
          <a href="#">Shop</a>
          <a href="#">Packs</a>
          <a href="#">Help</a>

          <button type="button" aria-owns="more-menu" aria-expanded="false">More</button>

          <a href="#">Try Live 12 for free</a>
          <a href="#">Log in or register</a>

          <div class="more-menu" id="more-menu">
            <h3>More on Ableton.com:</h3>
            <a href="#">Blog</a>
            <a href="#">Ableton for the Classroom</a>
            <a href="#">Ableton for Colleges and Universities</a>
            <a href="#">Certified Training</a>
            <a href="#">About Ableton</a>
            <a href="#">Jobs</a>
            <a href="#">Apprenticeships</a>

            <h3>More from Ableton:</h3>
            <div class="scroller">
              <div>
                <div>
                  <a href="#">
                    <h4>Loop</h4>
                    <p>Watch talks, performances and features from Ableton's Summit for Music Makers.</p>
                  </a>

                  <a href="#">
                    <h4>Learning Music</h4>
                    <p>Learn the fundamentals of music making right in your browser.</p>
                  </a>

                  <a href="#">
                    <h4>Learning Synths</h4>
                    <p>Get started with synthesis using a web-based synth and accompanying lessons.</p>
                  </a>

                  <a href="#">
                    <h4>Making Music</h4>
                    <p>Some tips from 74 Creative Strategies for Electronic Producers.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <nav class="quick-links | navbar | full-width row ui">
        <h2 class="visually-hidden">Quick links</h2>
        <a href="#">About</a>
        <a href="#">Jobs</a>
        <a href="#">Apprenticeships</a>
      </nav>

      <main class="inherited-grid vertical-rhythm">
        <h2 class="visually-hidden">Who we are</h2>

        <figure class="masthead | spaced-full-width pile">
          <img src="/frontend/img/fp/ableton/header.webp" alt="">

          <svg viewBox="0 0 430 104">
            <path d="m32.62 65.175 14.936-33.396 14.948 33.396H32.62Zm61.242 34.957c-7.275-15.869-14.884-32.405-22.49-48.944a37586.933 37586.933 0 0 1-22.49-48.945c-.25-.449-.727-.724-1.274-.724-.554 0-1.075.282-1.395.757L1.245 100.157c-.157.477-.109.964.144 1.31.247.34.665.527 1.181.527h12.637c.485 0 .936-.305 1.34-.92l10.363-22.75h41.305l.066.145a1035.68 1035.68 0 0 0 4.444 9.718c1.976 4.292 4.023 8.728 5.867 12.922.386.586.826.885 1.323.885h12.63c.519 0 .94-.186 1.185-.526.253-.352.301-.839.132-1.336Zm38.128-8.457c-10.99 0-16.743-9.896-16.743-19.67 0-9.352 5.87-19.29 16.743-19.29 10.24 0 17.392 7.932 17.392 19.29 0 9.792-5.38 19.67-17.392 19.67Zm2.707-51.333c-7.1 0-13.242 2.742-18.251 8.155l-.425.459V2.526c0-.515-.672-1.167-1.426-1.167h-11.22c-.759 0-1.434.652-1.434 1.167v98.172c0 .73.632 1.296 1.434 1.296h11.086c.804 0 1.43-.566 1.43-1.296v-5.234l.424.432c4.97 5.105 11.488 8.028 17.871 8.028 19.848 0 28.885-16.676 28.885-32.176 0-15.226-9.943-31.406-28.374-31.406ZM184.66 1.36h-11.086c-.759 0-1.432.652-1.432 1.167v98.172c0 .73.629 1.296 1.432 1.296h11.086c.627 0 1.298-.518 1.298-1.296V2.526c0-.49-.653-1.167-1.298-1.167Zm25.805 63.816.09-.312c1.766-6.164 7.281-12.404 14.411-12.404 8.025 0 12.644 6.408 14.29 12.404l.082.312h-28.873Zm14.501-24.833c-18.053 0-29.263 12.328-29.263 32.179 0 18.489 12.14 31.403 29.528 31.403 11.763 0 21.743-5.999 27.37-16.463l.093-.182c.06-.416-.201-.837-.807-1.317l-9.377-5.251c-.704-.403-1.244-.317-1.748.32-3.738 6.024-7.259 10.644-15.407 10.644-8.809 0-15.176-5.88-15.84-14.634l-.02-.263h42.546c.69 0 1.43-.366 1.43-1.172V73.81c0-15.44-7.461-33.468-28.505-33.468Zm72.869 1.798h-13.782V26.454c0-.721-.498-1.167-1.306-1.167h-11.081c-.711 0-1.43.358-1.43 1.167v6.567c0 2.958 0 9.119-8.239 9.119h-2.32c-.76 0-1.434.655-1.434 1.175v10.422c0 .965 1.097 1.038 1.434 1.038h10.558v25.29c0 16.254 6.066 23.82 19.092 23.82 3.787 0 6.806-.458 8.977-1.366l-.006-.05c.519-.1.964-.762.964-1.044V90.492c0-.638-.653-1.176-1.427-1.176-.28 0-.773.172-.943.241-1.576.626-3.204 1.278-5.54 1.278a14.09 14.09 0 0 1-1.67-.102c-5.684-1.263-5.65-8.723-5.629-13.657V54.775h13.782c.334 0 1.427-.073 1.427-1.038V43.315c0-.52-.673-1.175-1.427-1.175Zm39.283 48.77c-10.015 0-18.164-8.428-18.164-18.78 0-10.275 8.149-18.64 18.164-18.64 10.155 0 18.42 8.365 18.42 18.64 0 10.352-8.265 18.78-18.42 18.78Zm0-50.568c-18.005 0-32.107 13.96-32.107 31.788s14.102 31.794 32.107 31.794c18.006 0 32.11-13.966 32.11-31.794 0-17.827-14.104-31.788-32.11-31.788Zm70.505 0c-5.953 0-11.767 2.328-15.547 6.23l-.396.41-.15-3.665c0-.525-.675-1.177-1.437-1.177h-11.084c-.76 0-1.431.652-1.431 1.167v57.391c0 .73.629 1.296 1.43 1.296h11.085c.805 0 1.437-.566 1.437-1.296V74.451c0-9.682 0-21.733 12.743-21.733 10.477 0 11.33 6.87 11.33 15.173v32.807c0 .73.629 1.296 1.43 1.296h11.088c.768 0 1.302-.53 1.302-1.296V66.471c0-18.071-6.723-26.129-21.8-26.129Z"/>
          </svg>
        </figure>

        <section class="content-width feature">
          <p>
            We make <a href="#">Live</a>, <a href="#">Push</a>, <a href="#">Note</a> and
            <a href="#">Link</a> — unique software and hardware for music creation and performance.
            With these products, our community of users creates amazing things.
          </p>

          <p>
            Ableton was founded in 1999 and released the first version of Live in 2001. Our products
            are used by a community of dedicated musicians, sound designers, and artists from across
            the world.
          </p>
        </section>

        <figure class="collage inherited-grid" data-collage="1">
          <img src="/frontend/img/fp/ableton/collage-1a.webp" alt="">
          <img src="/frontend/img/fp/ableton/collage-1b.webp" alt="">
        </figure>

        <section class="content-width feature">
          <p>
            Making music isn&apos;t easy. It takes time, effort, and learning. But when you&apos;re
            in the flow, it&apos;s incredibly rewarding.
          </p>

          <p>
            We feel the same way about making Ableton products. The driving force behind Ableton is
            our passion for what we make, and the people we make it for.
          </p>
        </section>

        <figure class="content-width">
          <img src="/frontend/img/fp/ableton/poster-why-ableton.webp" alt="">

          <figcaption>Why Ableton &mdash; Juanpe Bolivar</figcaption>
        </figure>

        <section class="content-width feature">
          <p>
            We are more than 350 people from 30 different countries divided between our headquarters
            in Berlin and our offices in Los Angeles and Tokyo.
          </p>

          <p>
            Most of us are active musicians, producers, and DJs, and many of us use Live and Push
            every day. We come from a wide range of cultural and professional backgrounds. Some of
            us have PhDs, some are self-taught, and most of us are somewhere in between. What
            connects us is the shared belief that each of us has the skills and knowledge to
            contribute to something big: helping to shape the future of music culture.
          </p>
        </section>

        <figure class="collage inherited-grid" data-collage="2">
          <img src="/frontend/img/fp/ableton/collage-2a.webp" alt="">
          <img src="/frontend/img/fp/ableton/collage-2b.webp" alt="">
          <img src="/frontend/img/fp/ableton/collage-2c.webp" alt="">
        </figure>

        <section class="content-width feature">
          <p>
            We believe it takes focus to create truly outstanding instruments. We only work on a few
            products and we strive to make them great.
          </p>

          <p>
            Rather than having a one-size-fits-all process, we try to give our people what they need
            to work their magic and grow. We&apos;ve learned that achieving the best results comes
            from building teams that are richly diverse, and thus able to explore problems from a
            wider set of perspectives. We don&apos;t always agree with each other, but opinion and
            debate are valued and openly encouraged.
          </p>
        </section>

        <figure class="spaced-full-width">
          <img src="/frontend/img/fp/ableton/poster-makers.webp" alt="">
        </figure>

        <section class="content-width feature">
          <p>
            We&apos;re passionate about what we do, but we&apos;re equally passionate about
            improving who we are.
          </p>

          <p>
            We work hard to foster an environment where people can grow both personally and
            professionally, and we strive to create a wealth of opportunities to learn from and with
            each other.
          </p>

          <p>
            Alongside an internal training program, employees are actively supported in acquiring
            new knowledge and skills, and coached on applying these in their daily work. In
            addition, staff-organized development and music salons are a chance to discuss new
            technologies, production techniques and best practices.
          </p>
        </section>

        <figure class="collage inherited-grid" data-collage="3">
          <img src="/frontend/img/fp/ableton/collage-3a.webp" alt="">
          <img src="/frontend/img/fp/ableton/collage-3b.webp" alt="">
        </figure>

        <section class="content-width feature">
          <p>
            We want our employees to love it here. Since we&apos;re looking for exceptional talent
            from around the world, we will do everything we can to make your transition as easy as
            possible.
          </p>

          <p>
            If you're joining us in Berlin, we'll help with relocation and paperwork. We&apos;ll
            even provide you with free German or English lessons. Plus, working in Germany means you
            can expect comprehensive health insurance for you and your family, as well as generous
            maternity and paternity leave. Office hours are flexible, but it&apos;s not all work; we
            have several company and team outings throughout the year as well as a variety of fun,
            informal small-group activities.
          </p>
        </section>

        <section class="spaced-full-width">
          <img src="/frontend/img/fp/ableton/poster-jobs.webp" alt="">

          <div>
            <p>
              We&apos;re really proud of the work we&apos;ve done so far. But there&apos;s so much
              more to come. If you&apos;d like to be a part of it, please join us.
            </p>

            <a href="#">See latest jobs</a>
          </div>
        </section>

        <footer class="inherited-grid footer-structure ui">
          <h2 class="visually-hidden">Site navigation</h2>

          <svg viewBox="0 0 430 104">
            <path d="m32.62 65.175 14.936-33.396 14.948 33.396H32.62Zm61.242 34.957c-7.275-15.869-14.884-32.405-22.49-48.944a37586.933 37586.933 0 0 1-22.49-48.945c-.25-.449-.727-.724-1.274-.724-.554 0-1.075.282-1.395.757L1.245 100.157c-.157.477-.109.964.144 1.31.247.34.665.527 1.181.527h12.637c.485 0 .936-.305 1.34-.92l10.363-22.75h41.305l.066.145a1035.68 1035.68 0 0 0 4.444 9.718c1.976 4.292 4.023 8.728 5.867 12.922.386.586.826.885 1.323.885h12.63c.519 0 .94-.186 1.185-.526.253-.352.301-.839.132-1.336Zm38.128-8.457c-10.99 0-16.743-9.896-16.743-19.67 0-9.352 5.87-19.29 16.743-19.29 10.24 0 17.392 7.932 17.392 19.29 0 9.792-5.38 19.67-17.392 19.67Zm2.707-51.333c-7.1 0-13.242 2.742-18.251 8.155l-.425.459V2.526c0-.515-.672-1.167-1.426-1.167h-11.22c-.759 0-1.434.652-1.434 1.167v98.172c0 .73.632 1.296 1.434 1.296h11.086c.804 0 1.43-.566 1.43-1.296v-5.234l.424.432c4.97 5.105 11.488 8.028 17.871 8.028 19.848 0 28.885-16.676 28.885-32.176 0-15.226-9.943-31.406-28.374-31.406ZM184.66 1.36h-11.086c-.759 0-1.432.652-1.432 1.167v98.172c0 .73.629 1.296 1.432 1.296h11.086c.627 0 1.298-.518 1.298-1.296V2.526c0-.49-.653-1.167-1.298-1.167Zm25.805 63.816.09-.312c1.766-6.164 7.281-12.404 14.411-12.404 8.025 0 12.644 6.408 14.29 12.404l.082.312h-28.873Zm14.501-24.833c-18.053 0-29.263 12.328-29.263 32.179 0 18.489 12.14 31.403 29.528 31.403 11.763 0 21.743-5.999 27.37-16.463l.093-.182c.06-.416-.201-.837-.807-1.317l-9.377-5.251c-.704-.403-1.244-.317-1.748.32-3.738 6.024-7.259 10.644-15.407 10.644-8.809 0-15.176-5.88-15.84-14.634l-.02-.263h42.546c.69 0 1.43-.366 1.43-1.172V73.81c0-15.44-7.461-33.468-28.505-33.468Zm72.869 1.798h-13.782V26.454c0-.721-.498-1.167-1.306-1.167h-11.081c-.711 0-1.43.358-1.43 1.167v6.567c0 2.958 0 9.119-8.239 9.119h-2.32c-.76 0-1.434.655-1.434 1.175v10.422c0 .965 1.097 1.038 1.434 1.038h10.558v25.29c0 16.254 6.066 23.82 19.092 23.82 3.787 0 6.806-.458 8.977-1.366l-.006-.05c.519-.1.964-.762.964-1.044V90.492c0-.638-.653-1.176-1.427-1.176-.28 0-.773.172-.943.241-1.576.626-3.204 1.278-5.54 1.278a14.09 14.09 0 0 1-1.67-.102c-5.684-1.263-5.65-8.723-5.629-13.657V54.775h13.782c.334 0 1.427-.073 1.427-1.038V43.315c0-.52-.673-1.175-1.427-1.175Zm39.283 48.77c-10.015 0-18.164-8.428-18.164-18.78 0-10.275 8.149-18.64 18.164-18.64 10.155 0 18.42 8.365 18.42 18.64 0 10.352-8.265 18.78-18.42 18.78Zm0-50.568c-18.005 0-32.107 13.96-32.107 31.788s14.102 31.794 32.107 31.794c18.006 0 32.11-13.966 32.11-31.794 0-17.827-14.104-31.788-32.11-31.788Zm70.505 0c-5.953 0-11.767 2.328-15.547 6.23l-.396.41-.15-3.665c0-.525-.675-1.177-1.437-1.177h-11.084c-.76 0-1.431.652-1.431 1.167v57.391c0 .73.629 1.296 1.43 1.296h11.085c.805 0 1.437-.566 1.437-1.296V74.451c0-9.682 0-21.733 12.743-21.733 10.477 0 11.33 6.87 11.33 15.173v32.807c0 .73.629 1.296 1.43 1.296h11.088c.768 0 1.302-.53 1.302-1.296V66.471c0-18.071-6.723-26.129-21.8-26.129Z"/>
          </svg>

          <div class="column">
            <h3>Sign up to our newsletter</h3>
            <p>
              Enter your email address to stay up to date with the latest offers, tutorials,
              downloads, surveys and more.
            </p>

            <form class="row">
              <input type="email">
              <button type="submit">Sign up</button>
            </form>
          </div>

          <div class="column">
            <h3 class="visually-hidden">Learn more</h3>
            <a href="#">Register Live or Push</a>
            <a href="#">About Ableton</a>
            <a href="#">Jobs</a>

            <div class="row">
              <a href="#"><!-- Facebook --></a>
              <a href="#"><!-- X --></a>
              <a href="#"><!-- YouTube --></a>
              <a href="#"><!-- Instagram --></a>
              <a href="#"><!-- TikTok --></a>
            </div>
          </div>

          <div class="column">
            <h3>Education</h3>
            <a href="#">Offers for students and teachers</a>
            <a href="#">Ableton for the Classroom</a>
            <a href="#">Ableton for Colleges and Universities</a>
          </div>

          <div class="column">
            <h3>Community</h3>
            <a href="#">Find Ableton User Groups</a>
            <a href="#">Find Certified Training</a>
            <a href="#">Become a Certified Trainer</a>
          </div>

          <div class="column">
            <h3>Language and Location</h3>
            <form class="row">
              <select><option>English</option></select>
              <select><option>United States</option></select>
            </form>
          </div>

          <div>
            <h3 class="visually-hidden">Colophon</h3>
            <a href="#">Contact Us</a>
            <a href="#">Press Resources</a>
            <a href="#">Legal Info</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Settings</a>
            <a href="#">Imprint</a>

            <div class="row">
              <svg viewBox="0 0 45 21">
                <path d="M0 0h3v21H0zm6 0h3v21H6zm6 0h3v21h-3zm6 0h3v21h-3zm6 18h21v3H24zm0-6h21v3H24zm0-6h21v3H24zm0-6h21v3H24z"/>
              </svg>

              <p>Made in Berlin</p>
            </div>
          </div>
        </footer>
      </main>
    </article>
	</body>
</html>

<script>
  /// Set up buttons that have an 'aria-expanded' attribute.
  ///
  /// Default the 'aria-expanded' attribute to 'false' and add an event listener to toggle between
  /// 'false' and 'true' on a click event.
  
  let buttons = document.querySelectorAll('button[aria-expanded]')

  buttons.forEach((button) => {
    button.ariaExpanded = 'false'
    button.addEventListener('click', () => {
      button.ariaExpanded = button.ariaExpanded === 'false' ? 'true' : 'false'
    })
  })
</script>

<script>
  /// Reset toggle buttons when crossing the width where the transition between menu styles happens.

  let query = window.matchMedia('(width < 64rem)')
  query.addEventListener('change', (event) => {
    let menu = document.querySelector('button[aria-expanded][aria-owns="menu-drawer"]')
    let more = document.querySelector('button[aria-expanded][aria-owns="more-menu"]')

    if (menu !== null) {
      menu.ariaExpanded = 'false'
    }

    if (more !== null) {
      more.ariaExpanded = 'false'
    }
  })
</script>

<style>
  @import url(/css/reset.css) layer(reset);

  @layer cascade {
    /* @link https://utopia.fyi/type/calculator?c=325,16,1.2,1280,20,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    :root {
      --step--2: clamp(0.6944rem, 0.6585rem + 0.1768vi, 0.8rem);
      --step--1: clamp(0.8333rem, 0.7766rem + 0.2792vi, 1rem);
      --step-0: clamp(1rem, 0.9149rem + 0.4188vi, 1.25rem);
      --step-1: clamp(1.2rem, 1.0766rem + 0.6073vi, 1.5625rem);
      --step-2: clamp(1.44rem, 1.2654rem + 0.8597vi, 1.9531rem);
      --step-3: clamp(1.728rem, 1.4852rem + 1.1952vi, 2.4414rem);
    }

    /* @link https://utopia.fyi/space/calculator?c=325,16,1.2,1280,20,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    :root {
      --space-3xs: clamp(0.25rem, 0.2287rem + 0.1047vi, 0.3125rem);
      --space-2xs: clamp(0.5rem, 0.4575rem + 0.2094vi, 0.625rem);
      --space-xs: clamp(0.75rem, 0.6862rem + 0.3141vi, 0.9375rem);
      --space-s: clamp(1rem, 0.9149rem + 0.4188vi, 1.25rem);
      --space-m: clamp(1.5rem, 1.3724rem + 0.6283vi, 1.875rem);
      --space-l: clamp(2rem, 1.8298rem + 0.8377vi, 2.5rem);
      --space-xl: clamp(3rem, 2.7448rem + 1.2565vi, 3.75rem);
      --space-2xl: clamp(4rem, 3.6597rem + 1.6754vi, 5rem);
      --space-3xl: clamp(6rem, 5.4895rem + 2.5131vi, 7.5rem);

      --space-3xs-2xs: clamp(0.25rem, 0.1224rem + 0.6283vi, 0.625rem);
      --space-2xs-xs: clamp(0.5rem, 0.3511rem + 0.733vi, 0.9375rem);
      --space-xs-s: clamp(0.75rem, 0.5798rem + 0.8377vi, 1.25rem);
      --space-s-m: clamp(1rem, 0.7022rem + 1.466vi, 1.875rem);
      --space-m-l: clamp(1.5rem, 1.1597rem + 1.6754vi, 2.5rem);
      --space-l-xl: clamp(2rem, 1.4045rem + 2.9319vi, 3.75rem);
      --space-xl-2xl: clamp(3rem, 2.3194rem + 3.3508vi, 5rem);
      --space-2xl-3xl: clamp(4rem, 2.8089rem + 5.8639vi, 7.5rem);

      --space-s-l: clamp(1rem, 0.4895rem + 2.5131vi, 2.5rem);
    }

    :root {
      --color-blue: hsl(240 100% 50%);
      --color-blue-light: hsl(225 100% 85%);
      --color-gray: hsl(0 0% 93%);
      --color-green: hsl(128 100% 86%);
      --color-lavender: hsl(267 100% 85%);
      --color-orange: hsl(14 100% 65%);
      --color-yellow: hsl(63 100% 83%);
    }

    body {
      font-family: 'Jost', 'Futura PT', sans-serif;
      font-size: var(--step-0);
    }

    a {
      color: var(--color-blue);
      text-decoration: none;
    }

    figcaption {
      font-size: var(--step--1);
    }

    button[type="button"] {
      border-color: transparent;
      padding: 0;

      background-color: transparent;
      color: currentColor;

      cursor: pointer;
    }

    button[type="submit"] {
      border-color: transparent;

      background-color: var(--color-blue);
      color: white;
    }

    input[type="email"] {
      border-color: transparent;

      background-color: var(--color-gray);
    }
  }

  @layer composition {
    .column {
      display: flex;
      flex-flow: column nowrap;
    }

    .row {
      display: flex;
      flex-flow: row wrap;
    }

    .pile {
      display: grid;
      grid-template-areas: 'pile';
      place-items: center;

      & > * {
        grid-area: pile;
      }
    }

    .page-structure {
      container: page / inline-size;

      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .inherited-grid {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: subgrid;
      }

      .full-width {
        grid-column: 1 / -1;
      }

      .spaced-full-width {
        grid-column: 2 / -2;
      }

      .content-width {
        --space-content: 2;
        --space-content-end: calc(-1 * var(--space-content));
        @container page (width >= 48rem) { --space-content: 3; }
        @container page (width >= 80rem) { --space-content: 4; }

        grid-column: var(--space-content) / var(--space-content-end);

      }

    }

    .navbar {
      column-gap: var(--space-s-m);
      row-gap: var(--space-s);

      padding: var(--space-s);
      padding-inline: var(--space-s-m);
    }

    .footer-structure {
      grid-column: 2 / -2;

      & > * {
        grid-column: 2 / -2;
      }

      @container page (width >= 64rem) {
        grid-template-areas:
          '. s s s s s s s s s s .'
          '. a a a b b b c c c c .'
          '. d d d e e e . . . . .'
          '. f f f f f f f f f f .'
          ;

        & > svg { grid-area: s; }
        & > div:nth-of-type(1) { grid-area: c; }
        & > div:nth-of-type(2) { grid-area: a; }
        & > div:nth-of-type(3) { grid-area: b; }
        & > div:nth-of-type(4) { grid-area: d; }
        & > div:nth-of-type(5) { grid-area: e; }
        & > div:nth-of-type(6) { grid-area: f; }

      }
    }

    .collage {
      grid-auto-rows: calc(100cqi / 12);

      &::before { content: ''; }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @layer utility {
    .bg-gray { background-color: var(--color-gray); }
    .bg-white { background-color: white; }

    .constrain-width {
      display: grid;
      grid-template-columns: minmax(auto, 100rem);
      place-content: center;
    }

    .ui {
      a { color: currentColor; }
    }

    .vertical-rhythm { row-gap: calc(100cqi / 12); }

    .visually-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  }

  @layer block {
    .main-menu {
      container: main-menu / inline-size;
      align-items: center;
      row-gap: var(--space-m);

      & .logo,
      & .logo svg {
        width: 3.75rem;
        height: 1.75rem;
      }

      &:has(button[aria-owns="menu-drawer"][aria-expanded="true"]) {
        color: white;
        fill: white;
      }
    }

    .menu-drawer {
      @container page (width < 64rem) {
        position: absolute;
        inset: 0;
        inset-block-end: auto;

        display: flex;
        flex-flow: column nowrap;
        row-gap: var(--space-xs);

        padding-block-start: var(--space-2xl);
        padding-inline: var(--space-s-m);
        padding-block-end: var(--space-l);

        background-color: var(--color-blue);

        translate: 0 -105%;
        z-index: -1;
      }

      @container page (width >= 64rem) {
        display: contents;

        & > button + a { color: var(--color-blue); }
      }

      & > button {
        margin-right: auto;
        color: var(--color-orange)
      }

      & > button + a + a { font-size: var(--step--1); }
    }

    .more-menu {
      display: flex;

      font-size: var(--step--1);
      
      @container page (width < 64rem) {
        flex-flow: column nowrap;
        row-gap: var(--space-xs);
      }
        
      @container page (width >= 64rem) {
        flex-flow: row wrap;
        column-gap: var(--space-s-m);
        row-gap: var(--space-s);
      }

      h3 {
        flex: 1 0 100%;
        font-size: var(--step-1);
        font-weight: 400;
        letter-spacing: 0.05ex;
      }

      h4 {
        font-weight: 450;
      }
    }

    .scroller {
      position: relative;

      padding-block-end: var(--space-xs);
      width: 100%;

      & > div {
        overflow-x: scroll;
        scrollbar-color: white;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
      }

      & > div > div {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--space-2xs);
      }

      @container page (width < 64rem) {
        &::after {
          content: '';
          
          position: absolute;
          inset: 0;
          inset-inline-start: auto;
  
          width: 5rem;
  
          background-image: linear-gradient(to right, hsl(240 100% 50% / 0), hsl(240 100% 50%));
        }
  
        & > div > div > a { flex: 0 0 12rem; }
      }
    }

    .quick-links {
      border-block-start: 2px solid var(--color-gray);

      font-size: var(--step--1);
    }

    .masthead {
      height: calc(100svh - 6rem);

      svg {
        width: max(12rem, 40%);
        height: auto;

        fill: var(--color-orange);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .feature {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--space-s-m);

      & > p:first-of-type {
        font-size: var(--step-1);
        font-weight: 450;
      }
    }
  }

  @layer exception {
    button[aria-owns="menu-drawer"] {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--space-2xs);

      &::after {
        content: '';

        width: 0.5rem;
        height: 1lh;

        background-color: currentColor;

        clip-path: polygon(0% 40%, 100% 40%, 50% 66%);
      }

      &[aria-expanded="true"]::after {
        scale: -100%;
      }
      
      @container page (width < 64rem) {
        &[aria-expanded="true"] ~ .menu-drawer {
          translate: none;
        }
      }

      @container page (width >= 64rem) { display: none; }
    }

    button[aria-owns="more-menu"] {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--space-3xs);

      &::after {
        content: '';

        height: 1lh;
        aspect-ratio: 1 / 1;

        background-color: currentColor;

        --s: 0.6lh;
        --t: 0.09lh;
        
        --s0: calc(50% - (var(--s) / 2));
        --s1: calc(50% - var(--t) / 2);
        --s2: calc(50% + var(--t) / 2);
        --s3: calc(50% + (var(--s) / 2));
        clip-path: polygon(
          var(--s0) var(--s1),
          var(--s1) var(--s1),
          var(--s1) var(--s0),
          var(--s2) var(--s0),
          var(--s2) var(--s1),
          var(--s3) var(--s1),
          var(--s3) var(--s2),
          var(--s2) var(--s2),
          var(--s2) var(--s3),
          var(--s1) var(--s3),
          var(--s1) var(--s2),
          var(--s0) var(--s2)
        );
      }

      &[aria-expanded="true"]::after {
        clip-path: polygon(
          var(--s0) var(--s1),
          var(--s3) var(--s1),
          var(--s3) var(--s2),
          var(--s0) var(--s2)
        );
      }
      
      @container page (width < 64rem) { display: none; }

      @container page (width >= 64rem) {
        &[aria-expanded="false"] ~ .more-menu { display: none; }
      }
    }

    [data-collage="1"] {
      &::before {
        grid-column: 6 / 13;
        grid-row: 1 / 8;
        background-color: var(--color-yellow);
      }

      & > img:nth-of-type(1) {
        grid-column: 2 / 7;
        grid-row: 2 / 7;
      }

      & > img:nth-of-type(2) {
        grid-column: 8 / 12;
        grid-row: 3 / 6;
      }
    }

    [data-collage="2"] {
      &::before {
        grid-column: 1 / 8;
        grid-row: 1 / 10;
        background-color: var(--color-green);
      }

      & > img:nth-of-type(1) {
        grid-column: 2 / 6;
        grid-row: 2 / 5;
      }

      & > img:nth-of-type(2) {
        grid-column: 2 / 6;
        grid-row: 6 / 9;
      }

      & > img:nth-of-type(3) {
        grid-column: 7 / 12;
        grid-row: 3 / 8;
      }
    }

    [data-collage="3"] {
      &::before {
        grid-column: 3 / 11;
        grid-row: 1 / 8;
        background-color: var(--color-lavender);
      }

      & > img:nth-of-type(1) {
        grid-column: 2 / 6;
        grid-row: 3 / 6;
      }

      & > img:nth-of-type(2) {
        grid-column: 8 / 13;
        grid-row: 2 / 7;
      }
    }
  }
</style>
